body {
    background-image: url('/OONTJY0.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-size: 400px;
    background-attachment: fixed;
    margin-bottom: 5cm;
}


.ScaleHeaderFontUP_AND_AddaBitOfDesign {
    font-size: 80px;
    text-align: center;
    font-family: Anjali;
    font-style: normal;
    margin-bottom: 2cm;
}

.designImage {
    transition: 500ms;
    margin-top: 1cm;
    width: 300px;
    float: right;
    margin-right: 0.7cm;
    margin-left: 1cm;
    border-radius: 10px 30px;
}

@font-face {
    font-family: Ananda_Regular;
    src: url('/Fonts/ananda.ttf');
}

@font-face {
    font-family: Anjali;
    src: url('Fonts/anjali.ttf');
}

@font-face {
    font-family: Noorisha_Brush;
    src: url('Fonts/BrushNoorisha.ttf');
}

@font-face {
    font-family: DevLys_190_Thin;
    src: url('Fonts/dev190.ttf');
}

@font-face {
    font-family: DevLys_220_Thin;
    src: url('Fonts/dev220.ttf');
}

h2 {
    text-align: center;
    font-size: 60px;
    margin-top: 4cm;
}

.paraDesign {
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    line-height: 1cm;
    word-spacing: 5px;
    font-size: 20px;
}

.style {
    display: block;
    float: right;
    padding: 5, 5;
    width: 220px;
    margin-right: 1.5%;
    border-radius: 70px;
    margin-left: 0.9cm;
    transition: 500ms;
}


.style:hover {
    /* transform: rotateZ(180deg); */
    transform: translate(0px, -17px);
    box-shadow: 0.5px 0.5px 40px rgba(0, 0, 0, 0.589);
}



#effect:hover {
    transform: scale(1.2, 1.2);
    border-radius: 200px;
}


#button{
    background-color: rgb(180, 240, 255);
    padding: 20px 70px;
    font-family: DevLys_220_Thin;
    font-size: 20px;
    border: none;
    float: right;
    transition: 500ms;
    cursor: pointer;
}

#button:hover {
    background-color: rgb(39, 78, 78);
    color: aliceblue;
    border-radius: 40px;
}

/* hr {
    border: 2px solid black;
    background-color: black;
    margin-top: 50cm;
} */

.br {
    display: block;
    margin-bottom: 1cm;
}

ul {
    margin-left: 2%;
}

li {
    line-height: 30px;
}

.cla {
    transform: rotate(20deg) translate(20px 20px);
    width: 287px;
    filter:drop-shadow(6px 3px 10px black);
}


.bs {
    background:none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
}